a{
    @include typeface-2(p2,desktop);
    text-decoration:none;
    color:$black-normal;
    transition:.5s ease;

    &:hover{
        opacity:.9;
    }
}

.btn{
    background:linear-gradient(220.94deg, $secondary-normal 14.43%, $primary-normal 85.28%);
    border-radius:16px;
    padding:12px 32px;
    color:$white-light;
    transition:.3s ease;

    &:hover{
        transform:scale(1.02)
    }
}
.link{
    display:inline-block;
    color:$primary-normal;
    background-image: url('../../svg/icon-arrow.svg');
    background-repeat:no-repeat;
    background-position:0% 50%;
    font-size:18px;
    padding:16px 16px 16px 40px;
    position:relative;

    &::after{
        content:'';
        position:absolute;
        display:block;
        top:75%;
        left:56px;
        width:0%;
        height:2px;
        border-radius:2px;
        background-color:$secondary-light;
        transition: .5s ease;
    }

    &:hover{
        opacity:0.8;
        padding-left: 64px;
        background-position:8px 50%;
        &::after{
            width:100%;
        }
    }
}
.button-app{
    transition: .5s ease;
    &:hover{
        filter:drop-shadow(5px,5px,5px rgba(0,0,0,0.5));
    }
}